{% extends "layout.html" %}
{% block header %}
    <link rel="stylesheet" href="../static/css/SignUp.css">
{% endblock header %}
{% block content %}
    <div class="signUp_container">
        <div class="signUp_theme">
            <span>Sign Up</span>
        </div>
        <form class="form_container" method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="signUp_details">
                {{ form.firstname.label(class="signUp_fieldsName") }}
                {% if form.firstname.errors %}
                    {{ form.firstname(class="form-control mr-sm-2 is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.firstname.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.firstname(class="form-control mr-sm-2 signUp_input") }}
                {% endif %}
            </div>
            <div class="signUp_details">
                {{ form.lastname.label(class="signUp_fieldsName") }}
                {% if form.lastname.errors %}
                    {{ form.lastname(class="form-control mr-sm-2 is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.lastname.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.lastname(class="form-control mr-sm-2 signUp_input") }}
                {% endif %}
            </div>
            <div class="signUp_details">
                <!-- <span class="signUp_fieldsName">User name:</span>
                <input class="form-control mr-sm-2 signUp_input" type="text" placeholder="Type your user name" name="" id="" required> -->
                {{ form.username.label(class="signUp_fieldsName") }}
                {% if form.username.errors %}
                    {{ form.username(class="form-control mr-sm-2 is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control mr-sm-2 signUp_input") }}
                {% endif %}
            </div>
            <div class="signUp_details">             
                {{ form.email.label(class="signUp_fieldsName") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control mr-sm-2 is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control mr-sm-2 signUp_input") }}
                {% endif %}
            </div>
            <div class="signUp_details">
                {{ form.password.label(class="signUp_fieldsName") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control mr-sm-2 is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control mr-sm-2 signUp_input") }}
                {% endif %}
            </div>
            <div class="signUp_details">
                {{ form.confirm_password.label(class="signUp_fieldsName") }}
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control mr-sm-2 is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirm_password(class="form-control mr-sm-2 signUp_input") }}
                {% endif %}
            </div>
            <div class="signUp_details">
                {{ form.birthday.label(class="signUp_fieldsName") }}
                {% if form.birthday.errors %}
                    {{ form.birthday(class="form-control mr-sm-2 is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.birthday.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.birthday(class="form-control mr-sm-2 signUp_input") }}
                {% endif %}
            </div>
            <div class="signUp_btn_div">
                {{ form.submit(class="btn btn-outline-success my-2 my-sm-0 signUp_btn") }}
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already Have An Account? <a class="ml-2" href="{{ url_for('signIn') }}">Sign In</a>
                </small>
            </div>
        </form>
    </div>
{% endblock content %}