* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    /* --menu_background: #45a2ff; */
    --green: #28a745;
    --dark-gray: #333b3f;
    --light-dark-gray: #585f63;
    --light-gray : #f1f1f1;
}
/* filter menu */
.filter_menu {
    height: 50px;
    background-color: var(--light-dark-gray);
    position: sticky;
    top: 56px; /* as the navbar height */
    z-index: 1;
}

/* products container */
.products_container {
    margin: 3em 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 2em;
}
@media only screen and (max-width: 1300px) {
    .products_container {
        grid-template-columns: repeat(3, auto);
    }
}
@media only screen and (max-width: 1000px) {
    .products_container {
        grid-template-columns: repeat(2, auto);
    }
}
@media only screen and (max-width: 650px) {
    .products_container {
        grid-template-columns: repeat(1, auto);
    }
}

.results_counter {
    text-align: center;
    margin-top: 20px;
}
.results_counter span {
    font-size: 18px;
    font-weight: bold;
}
/* cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 19em;
    min-width: 18em;
    height: 31em;
    margin: auto;
    text-align: center;
    font-family: arial;
}
.card:hover .card button {

}
.price {
    color: var(--light-dark-gray);
    font-size: 1.5em;
}
.row {
    display: flex;
    justify-content: center;
}
.row_name {
    margin-right: .8em;
}
.color_indicate {
    height: 1.6em;
    width: 1.6em;
    border-radius: 50%;
    border: 1px solid black;
}
.card img {
    width: 100%;
    max-height: 18em;
    cursor: pointer;
}
.card img:hover {
    /* TODO: add nice animation */
}
.card button {
    border: none;
    outline: 0;
    padding: .6em;
    color: white;
    background-color: var(--dark-gray);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.2em;
    
}
.card:hover button {
    background-image: linear-gradient(
      to right,
      transparent 33%,
      rgba(255,255,255,0.3) 50%,
      transparent 66%
    );
    background-size:300% 100%;
    animation: shine 2s;
}
@keyframes shine {
    0% {
      background-position: right;    
    }
    /*100% {
      background-position: left; it's the default value, no need to define it
    }*/
}
.cart_p {
    margin: 0;
}
.card .add_to_cart_btn:hover {
    color: white;
    background-color: var(--green);
    transition: .2s ease;
}
.guid {
    display: none;
}